/Library/*
.DS_Store
obj/Debug/Assembly-CSharp-firstpass.csproj.FilesWrittenAbsolute.txt
obj/Debug/Assembly-CSharp-firstpass.dll.mdb
obj/Debug/Assembly-CSharp.csproj.FilesWrittenAbsolute.txt
obj/Debug/Assembly-CSharp.dll.mdb
Temp/
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
ProjectSettings/GraphicsSettings.asset
ProjectSettings/ProjectSettings.asset
ProjectSettings/ProjectVersion.txt
obj/Debug/Assembly-CSharp-Editor.csproj.FilesWrittenAbsolute.txt
obj/Debug/Assembly-CSharp-Editor.dll
obj/Debug/Assembly-CSharp-Editor.dll.mdb
obj/Debug/Assembly-CSharp.dll
